<!DOCTYPE html>
<html>

<head>

<title>
Edit Product
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<h1>
Edit Product
</h1>



<form method="POST">


<label>
Product Name
</label>
<br>

<input 
type="text"
name="name"
value="{{product.name}}"
required>

<br><br>



<label>
Category
</label>
<br>

<input 
type="text"
name="category"
value="{{product.category}}"
required>

<br><br>



<label>
Price
</label>
<br>

<input 
type="number"
name="price"
value="{{product.price}}"
required>

<br><br>



<label>
Stock
</label>
<br>

<input 
type="number"
name="stock"
value="{{product.stock}}"
required>

<br><br>



<label>
Reorder Level
</label>
<br>

<input 
type="number"
name="reorder"
value="{{product.reorder}}"
required>

<br><br>



<label>
Supplier Name
</label>
<br>

<input 
type="text"
name="supplier"
value="{{product.supplier}}"
required>

<br><br>



<label>
Supplier Phone
</label>
<br>

<input 
type="text"
name="phone"
value="{{product.phone}}"
required>

<br><br>



<label>
Supplier Email
</label>
<br>

<input 
type="email"
name="email"
value="{{product.email}}"
required>

<br><br>



<button type="submit">

Update Product

</button>



</form>


<br>


<a href="/">
<button>
Back Home
</button>
</a>


</body>

</html>